@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject ISnackbar _snackbar

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    @@media only screen and (max-width: 599px) {
        .xsh {
            padding-top: 0px;
        }
    }

    .menu-button a {
        padding: 0px;
        width: 40px;
        height: 40px;
        padding-left: 8px;
        border-radius: 4px;
    }

    .menu-button div {
        padding: 0px;
        width: 40px;
        height: 40px;
        padding-left: 8px;
        border-radius: 4px;
    }
</style>


<MudStack Spacing="0" Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Start" StretchItems="StretchItems.End" Style="height: 100vh;background-color: transparent;">
    <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
        <MudStack AlignItems="AlignItems.Center" Class="pb-3 pt-3" Style="background-color: transparent;width: 60px;height: 100%">
            <div>
                <MudImage Src="_content/Tinvo/icon-128.png" Width="40" Height="40" Class="rounded-circle" />
            </div>
            <MudPaper Elevation="0" Style="padding-left: 10px">
                <NavMenu />
            </MudPaper>
            <MudSpacer />
            <MudPaper Elevation="0" Style="padding-left: 10px">
                <BNavMenu />
            </MudPaper>
        </MudStack>
    </MudHidden>
    <MudPaper Class="con-width" Height="100%" Elevation="0" Style="background-color: transparent;flex-basis: 0" MinWidth="0">
        @Body
    </MudPaper>
</MudStack>