@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <title>Tinvo</title>
    <base href="/" />
    <!--localForage-->
    <script src="_content/Tinvo/libs/localforage/localforage.min.js"></script>
    <script>
        localforage.config({
            driver: localforage.INDEXEDDB,
            name: 'Tinvo',
            version: 1.0,
            storeName: 'Tinvo'
        });
        window.localForageActions = {
            clear: function () {
                return localforage.clear();
            },
            containKey: function (key) {
                return localforage.getItem(key).then(function (value) {
                    return value !== null;
                });
            },
            getItem: function (key) {
                return localforage.getItem(key);
            },
            keys: function () {
                return localforage.keys();
            },
            length: function () {
                return localforage.length();
            },
            removeItem: function (key) {
                return localforage.removeItem(key);
            },
            setItem: function (key, value) {
                return localforage.setItem(key, value);
            }
        }
    </script>
    <!--loadcss-->
    <link href="_content/Tinvo/css/loading.css" rel="stylesheet" />
    <!--mudblazor-->
    <link href="_content/Tinvo/libs/mudblazor/fonts.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!--masa-->
    <link rel="stylesheet" href="_content/Masa.Blazor/css/masa-blazor.min.css" />
    <link rel="stylesheet" href="_content/Tinvo/libs/materialdesign/v7.1.96/css/materialdesignicons.min.css">
    <!--highlightjs-->
    <link rel="stylesheet" href="_content/Tinvo/libs/highlight/styles/github.min.css">
    <!--default-->
    <link rel="icon" type="image/png" href="_content/Tinvo/favicon.png" />
    <link href="Tinvo.Web.styles.css" rel="stylesheet" />
    <link href="manifest.webmanifest" rel="manifest" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <!--tinvo-->
    <link href="_content/Tinvo/css/tinvo.css" rel="stylesheet" />
    <script src="_content/Tinvo/js/base.js"></script>
    <HeadOutlet @rendermode="@GlobalConfig.RenderMode" />
</head>

<body>
    <div id="app" style="height: 100%">
        <Tinvo.Main @rendermode="@GlobalConfig.RenderMode" />
    </div>

    <div id="blazor-error-ui">
        发生了未处理的错误。
        <a href="#" onclick="clearCacheAndReload()">刷新</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--default-->
    <script src="_framework/blazor.web.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js', { updateViaCache: "none" });</script>
    <!--mudblazor-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <!--masa-->
    <script src="_content/Masa.Blazor/js/masa-blazor.js"></script>
    <script src="_content/Tinvo/libs/markdown-it-emoji/markdown-it-emoji.min.js"></script>
    <!--highlightjs-->
    <script src="_content/Tinvo/libs/highlight/highlight.min.js"></script>
    <script src="_content/Tinvo/libs/highlight-ext/cshtml-razor.min.js"></script>
    <!--code标签-->
    <script src="_content/Tinvo/libs/lodash.js/lodash.min.js"></script>
    <script src="_content/Tinvo/libs/clipboard.js/clipboard.min.js"></script>
    <!--tinvo-->
    <script src="_content/Tinvo/js/tinvo.js"></script>
</body>

</html>
